{% extends "layout.jinja" %}

{% block title %}
Test Results Form
{% endblock %}

{% block main %}
<link rel="stylesheet" href="/static/styles/form.css">
<h2>Fill Test Results</h2>

<form action="/fill?id={{ id }}" method="post">
    {{ form.hidden_tag() }}  <!-- CSRF token -->
    <table>
        {% for field in form %}
            {% if field.name != "csrf_token" and field.name != "submit" %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>
                        {% if field.type == 'SelectField' %}
                            {{ field(class="select-field") }} <!-- Apply a class for styling -->
                        {% else %}
                            {{ field(size=32) }}
                        {% endif %}
                        {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br><br>
    <button onclick="window.history.back()" class="btn" style="color:black;margin-right:4rem;">
        Go Back
    </button>
    {{ form.submit(class="blue btn") }}
</form>

{% endblock %}