{% extends 'admin/master.html' %}

{% block body %}
    <h2>Filter Measures by Test Name</h2>
    <form method="get" action="{{ url_for('admins.measure.index') }}">
        <select name="test_name">
            <option value="">Select a Test</option>
            {% for test in tests %}
                <option value="{{ test.id }}">{{ test.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <hr />
    {% include 'admin/measure_list.html' %}
{% endblock %}